body{
    border: 1px solid green;
}
header{
    /*height: 80px;*/
    text-align: center;
    font-size: 40px;
    padding: 20px;
    background-color: blue;
}
section{
    display: flex;
    background-color: yellow;
}
aside{
    flex: 1;
    background: cornflowerblue;
    height: 100vh;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    flex: 1;
    background: #ffdd81;
    height: 100vh;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
footer{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    background-color: #000;
    color: #fff;
}
p.name{
    font-size: 32px;
    color: blue
}
P{
    text-align: center;
   font-size: 30px;
}
p#State:hover{
    color: #ffcc44;
}